*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main,
footer {
  background-color: black;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.button {
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 30px;
  font-weight: 700;
  background-color: #1200ff;
  border: #1200ff;
  border-radius: 35px;
}

.button.service {
  display: block;
  margin-top: 30px;
  width: 200px;
}
@media screen and (max-width: 769px) {
  .button.service {
    width: 100%;
  }
}

.button:hover {
  color: white;
  background-color: rgb(65, 88, 208);
}

.button:active {
  background-color: rgb(23, 44, 153);
  box-shadow: 0 0 0 3px rgba(9, 7, 143, 0.3);
}

.main-header {
  padding: 15px 0 15px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}
.main-header .main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .main-header-wrapper .logo-image {
  width: 135px;
}
.main-header .main-header-wrapper .main-navigation {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.main-header .main-header-wrapper .main-navigation .main-menu-list {
  display: flex;
  align-items: center;
  padding-left: 0;
}
@media screen and (max-width: 1078px) {
  .main-header .main-header-wrapper .main-navigation .main-menu-list {
    display: none;
  }
}
.main-header .main-header-wrapper .main-navigation .main-menu-list .menu-item {
  list-style-type: none;
}
.main-header .main-header-wrapper .main-navigation .main-menu-list .menu-item .menu-link {
  color: black;
  text-decoration: none;
  padding: 20px 14px;
  font-weight: 700;
  font-size: 14px;
}
.main-header .main-header-wrapper .main-navigation .main-menu-list .menu-item .menu-link:hover {
  color: rgb(153, 144, 144);
}

.main-menu .hero-box {
  color: white;
  padding: 100px 0 140px;
  margin-left: 180px;
}
@media screen and (max-width: 1029px) {
  .main-menu .hero-box {
    margin-left: 0;
  }
}
.main-menu .hero-box .page-title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 386px;
}
.main-menu .hero-box .page-title-wrapper .page-title {
  width: 75%;
  margin: 0 0 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 90px;
}
@media screen and (max-width: 920px) {
  .main-menu .hero-box .page-title-wrapper .page-title {
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .page-title-wrapper .page-title {
    font-size: 50px;
    max-width: 50%;
  }
}
.main-menu .hero-box .page-title-wrapper .page-description {
  font-size: 18px;
}
.main-menu .hero-box .page-title-wrapper .page-description .page-description-paragraph {
  margin: 0;
  line-height: 1.6;
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .page-title-wrapper .page-description .page-description-paragraph {
    font-size: 14px;
  }
}
.main-menu .hero-box .service-list {
  display: flex;
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .service-list {
    flex-direction: column;
    row-gap: 50px;
  }
}
.main-menu .hero-box .service-list .service-item {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .service-list .service-item {
    width: 100%;
  }
}
.main-menu .hero-box .service-list .service-item:nth-child(1) {
  border-right: 1px solid #fff;
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .service-list .service-item:nth-child(1) {
    border-right: none;
  }
}
.main-menu .hero-box .service-list .service-item:nth-child(2) {
  padding-left: 120px;
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .service-list .service-item:nth-child(2) {
    padding-left: 0;
  }
}
.main-menu .hero-box .service-list .service-item:nth-child(2) .service-title-description {
  width: 90%;
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .service-list .service-item:nth-child(2) .service-title-description {
    width: 100%;
  }
}
.main-menu .hero-box .service-list .service-item:nth-child(2) .service-title-description:nth-last-of-type(1) {
  width: 70%;
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .service-list .service-item:nth-child(2) .service-title-description:nth-last-of-type(1) {
    width: 100%;
  }
}
.main-menu .hero-box .service-list .service-item .service-title-description {
  width: 60%;
  margin: 0;
  line-height: 1.6;
}
@media screen and (max-width: 769px) {
  .main-menu .hero-box .service-list .service-item .service-title-description {
    width: 100%;
  }
}
.main-menu .stats {
  background-color: white;
  padding-top: 130px;
  padding-bottom: 88px;
}
.main-menu .stats .section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  margin-top: 0;
}
@media screen and (max-width: 769px) {
  .main-menu .stats .section-title {
    font-size: 40px;
  }
}
.main-menu .stats .stats-wrapper-description {
  margin-left: 220px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  max-width: 450px;
}
@media screen and (max-width: 1169px) {
  .main-menu .stats .stats-wrapper-description {
    margin-left: 80px;
  }
}
@media screen and (max-width: 920px) {
  .main-menu .stats .stats-wrapper-description {
    margin-left: 0px;
  }
}
@media screen and (max-width: 769px) {
  .main-menu .stats .stats-wrapper-description {
    max-width: 100%;
  }
}
.main-menu .stats .stats-wrapper-description .stats-description-paragraph {
  margin: 0;
}
.main-menu .stats .stats-list-wrapper {
  display: flex;
  justify-content: center;
}
.main-menu .stats .stats-list-wrapper .stats-list {
  width: 62%;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 100px;
}
@media screen and (max-width: 1169px) {
  .main-menu .stats .stats-list-wrapper .stats-list {
    width: 85%;
  }
}
@media screen and (max-width: 920px) {
  .main-menu .stats .stats-list-wrapper .stats-list {
    width: 100%;
  }
}
.main-menu .stats .stats-list-wrapper .stats-list .stats-item {
  list-style-type: none;
  width: 50%;
}
@media screen and (max-width: 769px) {
  .main-menu .stats .stats-list-wrapper .stats-list .stats-item {
    width: 100%;
  }
}
.main-menu .stats .stats-list-wrapper .stats-list .stats-item:nth-child(4) .stats-value {
  font-size: 75px;
}
.main-menu .stats .stats-list-wrapper .stats-list .stats-item .stats-value {
  font-family: sans-serif;
  font-size: 100px;
  margin-bottom: 15px;
}
.main-menu .stats .stats-list-wrapper .stats-list .stats-item .stats-description {
  font-weight: 700;
}

.main-footer {
  padding: 140px 0 135px;
}
@media screen and (max-width: 1029px) {
  .main-footer {
    padding: 80px 0 115px;
  }
}
.main-footer .footer-logo-wrapper {
  margin-bottom: 88px;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-logo-wrapper {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-logo-wrapper .logo-image {
    display: none;
  }
}
.main-footer .footer-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-navigation {
    margin-bottom: 0;
  }
}
.main-footer .footer-navigation .footer-menu-wrapper {
  width: 50%;
  display: flex;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-navigation .footer-menu-wrapper {
    flex-direction: column;
    width: 100%;
  }
}
.main-footer .footer-navigation .footer-menu-wrapper .footer-menu-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-navigation .footer-menu-wrapper .footer-menu-list {
    width: 100%;
    padding-bottom: 34px;
    border-bottom: 1px solid #fff;
  }
}
.main-footer .footer-navigation .footer-menu-wrapper .footer-menu-list .footer-menu-item {
  list-style-type: none;
}
.main-footer .footer-navigation .footer-menu-wrapper .footer-menu-list .footer-menu-item .footer-menu-link {
  text-decoration: none;
  color: #929497;
  font-size: 16px;
}
.main-footer .footer-navigation .footer-menu-wrapper .footer-menu-list .footer-menu-item .footer-menu-link:hover {
  color: white;
  text-decoration: underline;
}
.main-footer .footer-navigation .footer-menu-wrapper .address-menu {
  width: 40%;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-navigation .footer-menu-wrapper .address-menu {
    width: 100%;
    padding-top: 38px;
    padding-bottom: 34px;
    border-bottom: 1px solid #fff;
  }
}
.main-footer .footer-navigation .footer-menu-wrapper .address-menu .address-heading {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 32px;
}
.main-footer .footer-navigation .footer-menu-wrapper .address-menu .footer-address-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 0;
  padding: 0;
}
.main-footer .footer-navigation .footer-menu-wrapper .address-menu .footer-address-list .address-item {
  width: 70%;
  line-height: 1.6;
  list-style-type: none;
}
.main-footer .footer-navigation .footer-menu-wrapper .address-menu .footer-address-list .address-item .footer-address-link {
  text-decoration: none;
  color: #929497;
  font-size: 16px;
}
.main-footer .footer-navigation .footer-menu-wrapper .address-menu .footer-address-list .address-item .footer-address-link:hover {
  color: white;
  text-decoration: underline;
}
.main-footer .footer-navigation .social-media-navigator {
  width: 25%;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-navigation .social-media-navigator {
    position: absolute;
    right: 35px;
    width: 4%;
    z-index: 2;
  }
}
.main-footer .footer-navigation .social-media-navigator .social-media-list {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-navigation .social-media-navigator .social-media-list {
    flex-direction: column;
  }
}
.main-footer .footer-navigation .social-media-navigator .social-media-list .social-media-icon {
  display: inline;
  list-style-type: none;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-navigation .social-media-navigator .social-media-list .social-media-icon {
    padding-bottom: 10px;
  }
}
.main-footer .footer-end {
  display: flex;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-end {
    flex-direction: column-reverse;
  }
}
.main-footer .footer-end .footer-end-description {
  width: 63%;
  color: #929497;
  text-decoration: none;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-end .footer-end-description {
    width: 100%;
  }
}
.main-footer .footer-end .footer-end-description .footer-end-description-paragraph {
  margin: 0 0 20px;
  line-height: 1.7;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-end .footer-end-description .footer-end-description-paragraph {
    padding-top: 38px;
  }
}
.main-footer .footer-end .footer-end-description .footer-end-description-paragraph .footer-kids-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.main-footer .footer-end .footer-end-description .footer-end-description-paragraph .footer-kids-link:hover {
  color: white;
  text-decoration: underline;
}
.main-footer .footer-end .footer-end-description .footer-end-image {
  width: 97px;
}
.main-footer .footer-end .footer-privacy-link {
  text-decoration: none;
  color: #929497;
  font-size: 16px;
}
@media screen and (max-width: 1029px) {
  .main-footer .footer-end .footer-privacy-link {
    padding-bottom: 34px;
    border-bottom: 1px solid #fff;
    padding-top: 38px;
  }
}
.main-footer .footer-end .footer-privacy-link:hover {
  color: white;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */